// Place all the styles related to the mapper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$key_size: 4.5rem;
$double_key: 9.5rem;
$key_font_size:1.3rem;

$normal_text_padding:$key_size / 2.0 - $key_font_size / 2.0;
$two_line_text_padding:$key_size / 4.0 - $key_font_size / 2.0;
$keyboard_wrapper_background:#1e1e1e;
$keyboard_background:#232323;
$key_background:#2e2e2e;
$key_border_color: #555;

.key{
  border: solid 0.1rem $key_border_color;
  border-radius: 0.3rem;
  display: block;
  position: absolute;
  height:$key_size;
  width: $key_size;
  background-color:$key_background;
  .key-text{
    text-align: center;
    font-size: $key_font_size;
    height: 100%;
    display: block;
    form {
      display: block;
      height: 100%;
      div {
        display: block;
        height: 100%;
        input{
          display: block;
          height: 100%;
          width:100%;
          color:inherit;
          background: rgba(0,0,0,0);
          word-break: normal;
          white-space: normal;
          font-size: $key_font_size;
          border:none;
          -webkit-appearance: none;
        }
      }
    }

  }
}

.head_part{
  position: relative;
}
.keyboard_wrapper{
  padding-top:1px;
  padding-bottom:1px;
  background:$keyboard_wrapper_background;
}
.keyboard{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin:2rem;
  position: relative;
  background:$keyboard_background;
  height:400px;
}

$tab_size: 7rem;
$caps_size: 8.5rem;
$return_size:10.5rem;
$left_shift_size:10.5rem;
$ctrl_size:6.95rem;

.Tab,.BSlash{
  width:$tab_size;
}
.Caps{
  width: $caps_size;
}
.Return{
  width: $return_size;
}
.LShift{
  width:$left_shift_size;
}
.Ctrl{
  width: 6rem;
}
.Win,.Alt,.Apex{
   width: $ctrl_size;
 }
.Space {
  width:26.5rem;
  height:9rem;
}
.Space .key-text {
  color:rgba(0,0,0,0);
}
.Backspace {
  width:$double_key;
}
.RShift {
  width:13.5rem;
}
.Escape {
  height:$double_key;
}
.NumPlus,.NumEnter,.Play {
  height:$double_key;
}
.Num0 {
  width:$double_key;
}
